{% extends "base.html" %}
{% load static %}
{% block extra_title%}Home{% endblock %}

{% block content %}
    <!-- Notice -->
    <div id="notice">
      <div class="container flex-space">
          <div class="flex-col-l">
              {% for notice in notice %}
                  <p class="pv-half">{{ notice.notice|safe }}</p>
              {% endfor %}
          </div>
          <i onclick="dismiss()" id="dismiss" class="fas fa-times pointer ml1"></i>
      </div>
    </div>
    <div class="slider">
      <div class="overlayed">
      </div>
        <ul class="slides">
          <li>
            <div class="slide-overlay"></div>
            <img src="{{ MEDIA_URL }}coffee.jpg">
            <div class="caption center-align">
              <h4 class="white-text">Check out our Cafe</h4>
              <h6 class="white-text">All of our products are 100% vegan</h6>
            </div>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}cat-playing.jpeg">
            <div class="caption left-align">
              <h4 class="white-text">Come meet our Cats</h4>
              <h6 class="white-text">You can spend time in our cat therapy suite</h6>
            </div>
          </li>
          <li>
            <img src="{{ MEDIA_URL }}cat-grooming.jpg">
            <div class="caption right-align">
              <h4 class="white-text">Cat Grooming</h4>
              <h6 class="white-text">We have an expert groomer on site to pamper your cats</h6>
            </div>
          </li>
        </ul>
    </div>

    <!-- welcome/MENU/CATS -->
    <div class="welcome mt1 row equal-height-row">
      <!-- welcome -->
      <!-- Left Column -->
      <div class="welcome-title col s12 l5 equal-height-col">
        <h4 class="mv-half section-title">Welcome</h4>
        <p class="center line2">
          The Inner Purr quarantine area for rescued cats and kittens, a play
          area where visitors can interact with our friendlier kitties, a
          small vegan coffee shop and gift shop, as well as a meetings space
          for hosting workshops and education and welfare awareness training.
        </p>
      </div>

      <!-- Right Column -->
      <div class="home-pages col s12 l7 equal-height-col p0">
        <!-- MENU -->
        <!-- Coffee parallax -->
        <div class="menu-header parallax-container overlay valign-wrapper flex-col">
          <div class="section">
            <div class="container">
              <div class="row center">
                <h3 class="text-shadow-2 mv-half white-text">MENU</h3>
              </div>
            </div>
          </div>
          <div class="parallax">
            <img class="responsive-img" src="{{ MEDIA_URL }}coffee-pour.jpg" alt="menu" />
          </div>
        </div>
        <!-- Menu Section -->
        <div class="menu-body flex-col">
          
          <div class="menu-text">
            <div class="drinks">
                <div class="row">
                  <h2 class="menu-title p1">Drinks</h2>
                  {% for drink in drinks %}
                    <div class="col s12 m6 xxl4 menu-item flex-space">
                      <span>{{ drink.name }}</span><span> {{ drink.price }}</span>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="food">
                <div class="row">
                  <h2 class="menu-title p1">Food</h2>
                  {% for item in food %}
                    <div class="col s12 m6 xxl4 menu-item">
                      <div class="flex-space">
                        <span>{{ item.name }}</span><span> {{ item.price }}</span>
                      </div>
                      
                      {% if item.description %}
                        <div class="description">{{ item.description|safe }}</div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="food">
                <div class="row">
                  <h2 class="menu-title p1">Treats</h2>
                  {% for item in treats %}
                    <div class="col s12 m6 xxl4 menu-item flex-space">
                      <span>{{ item.name }}</span><span> {{ item.price }}</span>
                    </div>
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
        <!-- CATS -->
        <div class="cat-body flex-col">
          <div class="cat-text">
            <h4 class="center section-title">Meet our Cats</h4>
            <p class="center">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Adipisci reprehenderit debitis nihil corporis, velit perferendis
              eius cum impedit voluptate maxime cupiditate, incidunt
              accusantium ullam autem delectus voluptatum veniam voluptas
              perspiciatis magnam! Enim consectetur possimus dolorem, ipsum
              corrupti similique voluptate est maxime? Repellat sit atque
              repudiandae veniam fugit reiciendis eius nisi?
            </p>
          </div>
        </div>
        <!-- Cat Carousel -->
        <!-- <div class="carousel-container">
          <div id="carousel-small" class="carousel flex-center">
            <a class="carousel-item" href="#one!"><img src="../media/cats/marvin1.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="../media/cats/rod3.JPG"></a>
            <a class="carousel-item" href="#three!"><img src="../media/cats/Rupert2.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="../media/cats/ruthy2.JPG"></a>
            <a class="carousel-item" href="#five!"><img src="../media/cats/theresa3.jpg"></a>
          </div>
        </div> -->
        <!-- Cat Carousel -->
        <div class="carousel-container">
          <div id="carousel-small" class="carousel flex-center">
            {% for cat in cats %}
              {% if cat.resident == True %}
                <a class="carousel-item" href="{% url 'cat_detail' cat.id %}">
                  <div class="gallery-item">
                      <div class="square">
                          <div class="gallery-image content">
                              <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                          </div>
                      </div>
                      <div class="cat-overlay cat-overlay-fade">
                          <div class="gallery-text">
                              <h5 class="white-text">{{ cat.name }}</h5>
                              <p class="xxl-only light small-font">{{ cat.sex }}</p>
                          </div>
                      </div>
                  </div>
                </a>
              {% endif %} 
            {% endfor %}  
          </div>
        </div>

      </div>
    </div>



    











    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            
          </div>
        </div>
      </div>
    </div>

      <!-- Instagram Feed -->
      <script src="https://apps.elfsight.com/p/platform.js" defer></script>
      <div class="elfsight-app-10f467a6-329b-451b-8269-e3f37d798d52"></div>

      <!-- Bottom Parralax -->
      <div class="parallax-container overlay valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <p class="larger col s12 white-text">
                <q><i>In ancient times cats were worshipped as gods; they have not forgotten this.</q><br><span>Terry Pratchett</i></span>
              </p>
            </div>
          </div>
        </div>
        <div class="parallax">
          <img src="{{ MEDIA_URL }}background1.jpg" alt="cat" />
        </div>
      </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <script>
        //SCROLL EFFECTS
        function scrollAppear() {
          const menuText = document.querySelector(".menu-text");
          const menuPosition = menuText.getBoundingClientRect().top;
          const catText = document.querySelector(".cat-text");
          const catPosition = catText.getBoundingClientRect().top;
          const catCarousel = document.querySelector("#carousel-small");
          const carouselPosition = catCarousel.getBoundingClientRect().top;
          var screenPosition = window.innerHeight / 1.3;
          if (menuPosition < screenPosition) {
            menuText.classList.add("text-appear");
          }
          if (catPosition < screenPosition) {
            catText.classList.add("text-appear");
          }
          if (carouselPosition < screenPosition) {
            catCarousel.classList.add("text-appear");
          }
        }

        window.addEventListener("scroll", scrollAppear);
    </script>
{% endblock %}


