{% extends "base.html" %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title%}Success{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Thankyou</h4>
            <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email}}</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l7">
            <div class="order-confirmation-wrapper">
                <div class="row">
                    <div class="col">
                        <h5>Order Info:</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Order Number:</p>
                    </div>
                    <div class="col s12 m8">
                        <p class="mb0">{{ order.order_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb-0 text-black font-weight-bold">Order Date:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.date }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h5 class="text-muted">Order Details:</h5>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                <div class="row">
                    <div class="col s12 m4">
                        <p class="small mb-0 text-black font-weight-bold">
                            {{ item.product.name }}
                            {% if item.product_size %} - Size: {{ item.product.size|upper }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col s12 m8">
                        <p class="small mb0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                    </div>
                </div>
                {% endfor %}

                <div class="row">
                    <div class="col">
                        <h5>Delivering To:</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Full Name</p>
                    </div>
                    <div class="col s12 m8">
                        <p class="mb0">{{ order.full_name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Address 1</p>
                    </div>
                    <div class="col s12 m8">
                        <p class="mb0">{{ order.street_address1 }}</p>
                    </div>
                </div>

                {% if order.street_address2 %}
                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Address 2</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="mb0">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}

                {% if order.county %}
                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">County</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="mb0">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Town or City</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="mb0">{{ order.town_or_city }}</p>
                    </div>
                </div>

                {% if order.postcode %}
                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Postal Code</p>
                    </div>
                    <div class="col s12 m8">
                        <p class="mb0">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Country</p>
                    </div>
                    <div class="col s12 m8">
                        <p class="mb0">{{ order.country }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Phone Number</p>
                    </div>
                    <div class="col s12 m8">
                        <p class="mb0">{{ order.phone_number }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h5>Billing Info:</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Order Total</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="mb0">€{{ order.order_total }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Delivery</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="mb0">€{{ order.delivery_cost }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m4">
                        <p class="mb0 bold">Grand Total</p>
                    </div>
                    <div class="col s12 m4">
                        <p class="mb0">€{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if from_profile %}
    <div class="row">
        <div class="col">
            <a href="{% url 'profile' %}" class="btn">
                <span class="icon mr2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>
    
{% endblock %}



