{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title%}Checkout{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Order Form</h2>
        </div>
    </div>

    <div class="row">
        <!--CUSTOMER DETAILS-->
        <p class="p1">Please fill out the form below to complete your order</p>
        <div class="col s12 l6"> 
            <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="mb1">
                {% csrf_token %}
                <!--Name & Email-->
                <fieldset class="mb1">
                    <legend class="bold larger">Details</legend>
                    {{ order_form.full_name }}
                    {{ order_form.email }}
                </fieldset>
                <!--Delivery Details-->
                <fieldset class="mb1">
                    <legend class="bold larger">Delivery</legend>
                    {{ order_form.phone_number }}
                    {{ order_form.country }}
                    {{ order_form.postcode }}
                    {{ order_form.town_or_city }}
                    {{ order_form.street_address1 }}
                    {{ order_form.street_address2 }}
                    {{ order_form.county }}
                    <!--Save Details Options-->
                    <div class="form-check">
                        {% if user.is_authenticated %}
                            <label for="id-save-info">Save this delivery information to my profile</label>
                            <input type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label for="id-save-info">
                                <a href="{% url 'account_signup' %}" class="text-info">Create an account</a>
                                <a href="{% url 'account_login' %}" class="text-info">Login to save this information</a>
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="mb1">
                    <legend class="bold larger">Payment</legend>
                    <!--A stripe Card element will go here-->
                    <div id="card-element"></div>
                    <!--Used to display form errors-->
                    <div id="card-errors" role="alert"></div>
                </fieldset>
                <div>
                    <div class="flex mb-half">
                        <a href="{% url 'view_bag' %}" class="mr1">
                            <span>
                                <i class="fas-fa-chevron-left"></i>
                            </span>
                            <span>Adjust Bag</span>
                        </a>
                        <button id="submit-button" class="btn p1 flex">
                            <span class="mr-half">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                    </div>
                    <p><strong>Bag Total: €{{ total|floatformat:2 }}</strong></p>
                    <p><strong>Delivery: €{{ delivery|floatformat:2 }}</strong></p>
                        {% if free_delivery_delta > 0 %}
                            <p>You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!</p>
                        {% endif %}
                    <p>
                        <span>
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span><strong>Your card will be charged €{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
        <!--BAG ITEM DETAILS-->
        <div class="col s12 l6">
            {% for item in bag_items %}
                <div class="row m0">
                    <!--Image-->
                    <div class="col s6">
                        <div class="gallery-item bag-image">
                            <div class="square">
                                <div class="gallery-image content">
                                    {% if item.product.image %}
                                        <a href="{{ product.image.url }}" target="_blank">
                                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        </a>
                                    {% elif item.product.image_url %}
                                        <a href="{{ product.image_url }}" target="_blank">
                                            <img class="" src="{{ item.product.image_url }}" alt="{{ item.product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="">
                                            <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            <!--Name, Size & Quantity-->
                            <div class="col s12 m8 mb-half p0">
                                <!--Name-->
                                <p class="mb-half"><strong>{{ item.product.name }}</strong></p>
                                <!--Size-->
                                {% if item.product.has_sizes %}
                                    <p><strong>Size:</strong> {{ item.size }}</p>
                                {% endif %}
                                <!--Quantity-->
                                <p><strong>Qty:</strong>{{ item.quantity }}</p>
                            </div>
                            <!--Bag Total-->
                            <div class="col s12 m4 p0">
                                <p><strong>€{{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="divider mb-half"></div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="loading-overlay">
    <div class="loading-spinner">
        <div class="preloader-wrapper xbig active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}



