{% extends "base.html" %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title%}Success{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Thankyou</h4>
            <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email}}</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l7"></div>
    </div>
</div>
    
{% endblock %}



