/*Delivery Info*/
fieldset {
    border: 2px solid var(--dark-green);
    border-radius: 0.5rem;
  }
  legend {
    color: var(--dark-green);
    font-weight: 400;
  }
  .row .col+.p0 {
    padding: 0;
  }

.input-field>label, .select-wrapper input.select-dropdown {
color: var(--text-light);
font-size: 16px;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#profile-update-form input::placeholder {
    color: var(--text-light);
    background-color: transparent;
}

input, input:focus {
    color: var(--text) !important;
}
input:-internal-autofill-selected {
    background-color: transparent !important;
    background-image: none !important;
    color: var(--text) !important;
}

/*Order History*/
.order-history {
  max-height: 465px; /*height of delivery details form*/
  overflow-y: auto;
}

