/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid pink; */
}

html {
    --text: #37474F;
    --text-light: #37474F;
    --light-green: #A5CB8D;
    --medium-green: #447924;
    --dark-green: #4b7730;
    --cream: #f8f9fa;
    --cursive: 'Architects Daughter', cursive;
    --non-cursive: 'Montserrat', sans-serif;
    color: var(--text);
    background-color: var(--cream);
    font-family: var(--non-cursive);
    font-size: 17px;
    line-height: 1rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* used to make footer sticky */
main {
  flex: 1 0 auto;
}

/* FONT STYLES */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: var(--medium-green);
}

.white-title {
  color: var(--cream);
}

.cursive {
  font-family: var(--cursive);
}

.non-cursive {
  font-family: var(--non-cursive);
}

.boldish {
  font-weight: 500;
}
.bold {
  font-weight: 600;
}
.small {
  font-size: 0.9rem;
}
.medium {
  font-size: 2rem;
}
.larger {
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.justify {
  text-align: justify;
}
.toast-font {
  font-size: 12px !important;
}
.toast-font-header {
  font-size: 13px !important;
}

/* FLEX STYLES */
.flex {
  display: flex;
  align-items: center;
}
.flex-right {
  display: flex;
  align-items: center;
  justify-content: right;
}
.flex-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-l {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* PADDING STYLES */
.p0 {
  padding: 0 !important;
}
.pv-half {
  padding: 0.5rem 0;
}
.ph-half {
  padding: 0 0.5rem;
}
.p-half {
  padding: 0.5rem;
}
.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}

/* MARGIN STYLES */
.m-auto {
  margin: 0 auto;
}
.m0 {
  margin: 0;
}
.m-half{
  margin: 0.5rem;
}
.m1{
  margin: 1rem;
}
.mv-half {
  margin: 0.5rem 0;
}
.mv1 {
  margin: 1rem 0;
}
.mh-half {
  margin: 0 0.5rem;
}
.mh1 {
  margin: 0 1rem;
}
.mh2 {
  margin: 0 2rem;
}
.mt0 {
  margin-top: 0;
}
.mt-half {
  margin-top: 0.5rem;
}
.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mb0 {
  margin-bottom: 0;
}
.mb-half {
  margin-bottom: 0.5rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.ml-q {
  margin-left: 0.25rem;
}
.ml-half {
  margin-left: 0.5rem;
}
.ml1 {
  margin-left: 1rem;
}
.mr-q {
  margin-right: 0.25rem;
}
.mr-half {
  margin-right: 0.5rem;
}
.mr1 {
  margin-right: 1rem;
}

/* LINE HEIGHT */
.line1 {
    line-height: 1.2rem !important;
}
.line2 {
    line-height: 2rem !important;
}

/* WIDTH STYLES */
.w-100{
  width: 100%;
}
.w-80{
  width: 80%;
}

/* HEIGHT STYLES */
.h40 {
  min-height: 40px;
}
.h100 {
  height: 100%;
}

/* PARAGRAPHS */
p {
  line-height: 1rem;
  margin: 0;
}

/* HORIZONTAL RULES */
hr {
  width: 80%;
}
.divider {
  height: 1px;
  overflow: hidden;
  background-color: var(--dark-green);
  width: 90%;
}

/* CARDS & BUTTONS */
.border {
  border:2px solid #263238;
}
.no-border {
  border: none;
}

.btn,
.btn-small {
  background-color: var(--dark-green);
  border: solid 2px var(--dark-green);
  line-height: 0.65rem;
  font-size: 10px;
}
.btn-small i, .btn i {
  font-size: 1rem;
}
.btn:hover, .btn-large:hover, .btn-small:hover,
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: var(--cream);
  color: var(--dark-green);
  border: solid 2px var(--dark-green);
}
.btn.disabled, .disabled.btn-large, .disabled.btn-small, .btn-floating.disabled, .btn-large.disabled, .btn-small.disabled, .btn-flat.disabled, .btn:disabled, .btn-large:disabled, .btn-small:disabled, .btn-floating:disabled, .btn-large:disabled, .btn-small:disabled, .btn-flat:disabled, .btn[disabled], .btn-large[disabled], .btn-small[disabled], .btn-floating[disabled], .btn-large[disabled], .btn-small[disabled], .btn-flat[disabled] {
  border: solid 2px #DFDFDF;
}

/* Green Links and Icons */
a, img, .large-icon {
  color: var(--dark-green);
}
.btn a{
  color: var(--cream);
}
.btn:hover a{
  color: var(--dark-green);
}

/*Notices*/
#notice {
  background-color: var(--dark-green);
  color: var(--cream);
  font-weight: 500;
}
.dismiss {
  display: none;
}
#text {
  display: none;
}

/* LABELS & INPUTS */
.input-field>label,
.select-wrapper input.select-dropdown {
    color: #000;
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--non-cursive);
}
.select-wrapper input.select-dropdown:focus,
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--dark-green);
  box-shadow: 0 1px 0 0 var(--dark-green);
  color: var(--dark-green);
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
  color: var(--dark-green);
}
input[type=text]:not(.browser-default):focus.invalid ~ label{
  color: var(--dark-green);
}
.add-form input[type=url]:not(.browser-default){
  margin-bottom: 1rem;
}
.add-form input[name=sku]:not(.browser-default),
.add-form input[name=price]:not(.browser-default){
  padding-top: 1rem;
}

.input-group input {
  min-width: 3rem;
  text-align: center;
}

.add-form .select-wrapper+label {
  position: absolute;
  top: auto;
  font-size: .8rem;
}

textarea {
  border-color: var(--dark-green);
}
textarea:focus {
  border-color: var(--dark-green);
}

:focus-visible {
  outline-color: var(--dark-green);
}


[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid var(--dark-green);
  border-bottom: 2px solid var(--dark-green);
}

/* POINTER */
.pointer {
  cursor: pointer;
}
.col .gallery-item .square .content .no-pointer {
  cursor: auto;
}

/* TABLES */
tr {
  display: table-row;
  vertical-align: top;
  border-color: inherit;
}
td {
  vertical-align: top;
}
td p {
  line-height: 1.2rem;
}

/* MESSAGES */
.message-container {
  position: fixed;
  top: 91px !important;
  right: 1%;
  z-index: 999;
  max-width: 300px;
}
.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
.toast-image {
  width: 70px;
  height: 70px;
}
.custom-toast {
  overflow: visible;
}
.toast {
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 0.9rem;
  border-bottom: 3px solid var(--dark-green);
  border-top: 3px solid var(--dark-green);
  color: var(--text);
  font-weight: bold;
  border-radius: 0;
  box-shadow: 0 9px 9px 0 rgb(0 0 0 / 14%), 0 9px 9px -2px rgb(0 0 0 / 12%), 0 9px 9px 0 rgb(0 0 0 / 20%);
}
.toast p {
  line-height: 0.9rem;
}

.toast-capper {
  height: 2px;
}

.add-form .errorlist li {
  color: red;
    font-size: .8rem;
    font-weight: 600;
    transform: translate(0, 20px);
    line-height: .8rem;
    margin: 0.8rem 0;
}

/* Allauth form formatting */
.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: var(--dark-green);
}



/* UNNECCESARY? */
/* input[type=email]:not(.browser-default) {
  border-bottom: 1px solid var(--dark-green);
  color: var(--dark-green);
} */

/* Square Image */
/*perfect square code from: https://codepen.io/Tyler_Potts_/pen/qBBXoVQ*/
.square {
  position: relative !important;
  overflow: hidden;
}
.square:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.gallery-item .gallery-image {
width: 100%;
height: 100%;
overflow: hidden;
}
.gallery-item .gallery-image img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: 50% 50%;
cursor: pointer;
transition: 1s ease-in-out;
display: block;
}

/* Overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.white-overlay {
  background-color: var(--cream);
  z-index: 1;
}

/** NAV **/
nav{
  -webkit-box-shadow: none;
  box-shadow: none;
}

#under-menu {
  height: 40px;
  background-color: var(--cream);
  z-index: 5;
  border-top: 3px solid var(--dark-green);
  border-bottom: 3px solid var(--dark-green);
}
.mobile-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* .all-links{
    transform: translateY(-5px);
} */
nav {
  min-height: 64px;
}
.center h5{
  margin: 0;
}
.center h6 {
  margin: 0;
}
.nav-extended {
  background-color: var(--cream);
}
.nav-wrapper {
  margin: 0 0.5rem;
  position: relative;
}
.logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}
.logo-text {
  margin: auto;
}
.logo{
  display: flex;
}
#logo {
  margin: 0.5rem 0;
}
nav .brand-logo {
  display: flex;
}
nav ul a {
  padding: 0 5px;
  color: var(--dark-green);
}
.sidenav-trigger {
  color: var(--dark-green);
}
.profile-drop {
    position: relative;
}

.profile-dropped {
    position: absolute;
    border: 2px solid var(--dark-green);
    z-index: 5;
    width: 150px;
    background-color: var(--cream);
    border-radius: 0.4rem;
    margin-top: 0.3rem;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    padding: 0.5rem !important;
    transform: translateY(-1rem);
}
#dropdown-arrow{
    color: var(--dark-green) !important;
    font-size: 0.9rem;
}
.profile:hover ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
.show {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
#dropdown-arrow {
    transition:all 0.4s ease;
}
.rotated {
  transform: rotate(180deg)
}
/* Paw animation */
.main-link {
  /* width: 80px; */
  font-weight: 500;
  position: relative;
  height: 100%;
}
.main-link {
  overflow: hidden;
}
.nav-links li a {
  position: relative;
}
.nav-links li #paw {
  position: absolute;
  bottom: -80px;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  z-index: 6;
}
nav ul a:hover {
  background-color: transparent !important;
}
.all-links li a:hover {
  font-weight: 600;
  animation: link 0.2s ease-out forwards;
}
/* .main-link:hover a span {
  animation: link 0.2s ease-out forwards;
} */
.main-link:hover a #paw {
  animation: paw 0.2s ease-out forwards;
}
@keyframes paw {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-35px);
    z-index: 6;
  }
}

/* LOGO */
/* SVG */ 
svg {
  overflow: visible;
}
svg:not(:root){
  overflow: inherit;
}

#head {
  animation: rise 2s ease-out;
  z-index: -100;
  position: relative;
  overflow: hidden;
}
#Paws {
  z-index: 1000;
  position: relative;
}

.eye {
  position: absolute;
}

.stitches {
  position: relative;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rise {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Logo Text */
.logo-header {
  font-family: var(--cursive);
  font-size: 1.1rem;
  text-transform: capitalize;
}
.logo-sub-header {
  font-family: var(--cursive);
  font-size: .7rem;
  text-transform: capitalize;
}

/** FOOTER **/
.page-footer {
  background-color: var(--medium-green);
}
footer .row {
margin-bottom: 0;
}
.page-footer .row .col {
display: flex;
flex-direction: column;
align-items: center;
padding: 1rem 0;
}
/* newsletter signup */
#form_contact {
display: flex;
background-color: var(--cream);
border-radius: 20px;
overflow: hidden;
}
#form_contact:active {
background-color: rgb(232, 240, 254) !important;
}
.text-newsletter {
max-width: 320px;
}
#formContact input {
background-color: var(--cream);
color: #000;
}
#formContact input[placeholder] {
background-color: var(--cream);
color: rgb(255, 0, 0);
}
#submit {
padding: 0 1rem;
background-color: var(--cream);
border: none;
color: var(--text);
border: none;
}
#emailaddress {
padding: 0rem;
margin: 0 0 0.75rem 0.75rem;
}
/* Social Icons */
.social-links {
display: flex;
}
.social-links li i:hover {
color: #449bff;
}
.fab {
font-size: 2rem;
margin: 0 1rem;
color: var(--cream);
}

/* HOME PAGE */
/* Fullscreen Slider */
.slides {
  position: relative;
}

.slides li::before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

.slider .indicators .indicator-item {
    background-color: var(--light-green);
}

.slider .indicators .indicator-item.active {
  background-color: var(--dark-green);
}

/* Banner */
#banner {
  background-color: var(--medium-green);
}
#banner h4 {
  color: var(--cream);
  margin: 1rem 0;
}

/* Parralax */
.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

/* Section Titles */
.section-title {
  font-weight: 700;
}

/* Home Content */
/* Left Column */
.welcome-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: -1;
  margin-bottom: 4rem;
}
.welcome-title p {
  width: 80%;
}
/* Right Column */
.menu-text span {
  font-weight: 500;
}
.menu-text,
.row {
  width: 100%;
}
.menu-header {
  height: 300px;
  color: var(--cream);
}
.food .row .menu-item .description> p {
  margin: 0;
  font-size: .9rem;
  width: 100%;
}
.home-pages h1,
.home-pages h2 {
  text-align: center;
}
.home-pages div> p {
  width: 90%;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
}
.menu-body,
.cat-body,
.carousel-container {
  background-color: var(--cream);
}
.menu-text,
.cat-text,
#carousel-small {
  opacity: 0;
  transform: translateY(10px);
  transition: 2s all ease-in-out;
}
.text-appear {
  opacity: 1 !important;
  transform: translateY(0px);
}
/*Menu*/
.menu-title {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: var(--non-cursive);
  font-style: normal;
  letter-spacing: .015em;
  text-decoration: none;
  line-height: 1.2em;
}
.drinks .menu-item,
.food .menu-item {
  min-height: 54px;
  padding: 0 3rem;
}
.food .menu-item span {
  min-height: 54px;

}
.carousel {
  height: 340px;
}
.carousel .carousel-item {
  width: 220px;
  height: 220px;
  border-radius: 2rem;
  overflow: hidden;
}
.carousel .carousel-item img {
  border-radius: 2rem;
}

/** Instagram Feed **/
.elfsight-app-10f467a6-329b-451b-8269-e3f37d798d52{
  z-index: 1;
}

/*PRODUCTS*/
.dropdown-content li>a, .dropdown-content li>span {
  color: var(--dark-green);
}
#search-button {
  color: var(--dark-green);
}

#products .medium {
  font-size: 2rem;
}

.all-products .row {
  display: flex;
  flex-wrap: wrap;
}

.rating {
  color: var(--dark-green);
}

/*ROWS & COLUMNS*/
.all-products .row .col {
  padding: 0.5rem;
}

/*BAG*/
.gallery-item.bag-image {
  max-width: 250px;
  max-height: 250px;
}

/*All Cats*/
.slider .slides li .cat-caption {
  color: var(--cream);
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* #cat-slides li::before {
  background: none;
} */
.cat-box {
  padding: 0.5rem !important;
}
/* Cat Overlay */
/* When hovered an overlay displays the cats name and gender */
/* On Small devices name and gender are always displayed */
.cat-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.8s ease;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.gallery-item:hover .image_header {
  opacity: 0;
}
.cat-overlay-fade {
  height: 25%;
  width: 100%;
  bottom: 0;
  left: 0;
}
.gallery-item:hover .cat-overlay-fade {
  width: 100%;
}
.gallery-item:hover .gallery-image img {
  transform: scale(1.2);
}
.gallery-item .gallery-text {
  opacity: 1;
  position: absolute;
  text-align: start;
  color: var(--cream);
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
  z-index: 3;
  transition: 2s ease-in-out;
  padding-left: 0.5rem;
}
.gallery-item .gallery-text h5 {
  margin: 0;
}
.gallery-item:hover .gallery-text {
  opacity: 1;
}
.recipe-link:focus .gallery-text {
  opacity: 1;
}
/* For adopted cats name revealed on hover at all device sizes */
.adopted {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  text-align: center;
}
.adopted:hover {
  opacity: 1;
}
.adopted .gallery-text {
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 0rem;
}

/*Cat Details*/
.row .bio {
  padding: 0;
}
.link-cover {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.cover-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Add/Edit Products */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

#filename{
  color: red;
  font-size: .8rem;
  font-weight: 600;
  line-height: .8rem;
  margin: 0.8rem 0;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: var(--dark-green);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
}

/*Contact*/
#map {
  min-height: 300px;
  width: 100%;
}

/*Allauth Forms*/
.allauth-form-inner-content p a {
  font-weight: bold;
}


/* m tablet */
@media screen and (min-width: 601px) {
  html {
    line-height: 1.5rem;
  }
  p {
    line-height: 1.5rem;
  }
  .larger {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  #products .medium {
    font-size: 3rem;
  }
  .nav-wrapper {
    margin: 0 1rem;
    position: relative;
  }
  #under-menu {
    height: 100px;
  }
  .mobile-nav {
    width: auto;
    display: flex;
  }
  /*Logo Text*/
  .logo-header {
  font-size: 1.8rem;
  }
  .logo-sub-header {
  font-size: 0.8rem;
  }

  /*Home*/
  .home-pages div> p {
    width: 80%;
  }
  .carousel .carousel-item {
    width: 280px;
    height: 280px;
    border-radius: 2rem;
    overflow: hidden;
  }
  /* products */
  .product-description {
    min-height: 40px;
  }
  /*Cat Details*/
  .row .bio {
    padding: 0 2rem;
  }
  /* MESSAGES */
  .message-container {
  top: 151px !important;
  }
}

/* l desktop */
@media screen and (min-width: 993px) {
  /*Nav*/
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i, .nav-wrapper {
    line-height: 120px;
  }
  .logo-header {
    font-size: 2.7rem;
  }
  .logo-sub-header {
    font-size: 1.4rem;
  }
  nav, .nav-wrapper {
    min-height: 120px;
  }
  header {
    max-height: 220px;
  }
  #mr-buttons {
    width:150px; 
    height:120px;
  }
  .parallax-container {
    min-height: 350px;
  }
  .equal-height-col {
    flex: 1 1 0;
    padding: 16px;
  }
  .btn {
  font-size: 12px;
  }
  /*welcome*/
  .welcome-title {
  top: 30%;
  }
  /*Full Carousel*/
  #carousel-full {
    max-height: 500px;
  }
  .carousel .indicators .indicator-item {
  height: 24px;
  width: 24px;
  }
  /*All Cats*/
  #carousel-large .carousel-item {
    width: 340px;
    height: 340px;
  }
  /* MESSAGES */
  .message-container {
  top: 207px !important;
  }
  /* Cat Overlay */
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .white-overlay {
    background-color: var(--cream);
    z-index: 1;
  }
  .cat-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.8s ease;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .gallery-item:hover .cat-overlay {
    opacity: 1;
  }
  .recipe-link:focus .cat-overlay {
    opacity: 1;
  }
  .gallery-item:hover .image_header {
    opacity: 0;
  }
  .cat-overlay-fade {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .gallery-item:hover .cat-overlay-fade {
    width: 100%;
  }
  .gallery-item:hover .gallery-image img {
    transform: scale(1.2);
  }
  .gallery-item .gallery-text {
    opacity: 0;
    position: absolute;
    text-align: center;
    color: #fafafa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: 2s ease-in-out;
    padding-left: 0rem;
  }
  .gallery-item:hover .gallery-text {
    opacity: 1;
  }
  .recipe-link:focus .gallery-text {
    opacity: 1;
  }
}

/* l desktop */
@media screen and (min-width: 1201px) {
  .hide-on-extra-large-only {
    display: none !important;
  }
  .product-name {
    min-height: 40px;
  }
  #carousel-large .carousel-item {
    width: 400px;
    height: 400px;
  }
}

/*xxl  v large desktop*/
@media screen and (min-width: 1500px) {
  .xxl-only {
    display: inline-block
  }
  .row .col.xxl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xxl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .drinks .menu-item,
  .food .menu-item {
  min-height: 54px;
  padding: 0 1rem;
  }
  .larger {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
  .navbar-fxd {
    position: relative;
    height: 104px;
    z-index: 997;
  }
  .navbar-fxd nav {
    position: fixed;
  }
}

@media only screen and (max-width : 992px) {
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .parallax-container .section {
    position: absolute;
    top: 20%;
  }
  #index-banner .section {
    top: 10%;
  }
}

/*Media styles from Materialize Template: https://materializecss.com/templates/parallax-template/preview.html*/
@media only screen and (max-width : 992px) {
  
}
/*HEADING*/
#logo-container h1 {
  margin: auto;
}

@media only screen and (max-width: 1199px) {
  .hide-on-large-and-down {
    display: none !important;
  }
}