{% extends "base.html" %}
{% load static %}
{% block extra_title%}{{ cat.name }}{% endblock %}

{% block content %}
<!-- Notice -->
<div id="notice">
    <div class="container flex">
        <div class="flex-col-l">
            {% for notice in notice %}
                <p class="pv-half">{{ notice.notice|safe }}</p>
            {% endfor %}
        </div>
        <i onclick="dismiss()" id="dismiss" class="fas fa-times pointer"></i>
    </div>
</div>
<div class="container">
    <div class="white-overlay">
        <div class="row mt1">
            <!-- Details -->
            <div class="col s12 m4 xl5 grey lighten-2 mb1 p0">
                <!-- Image -->
                <div class="gallery-item mb-half">
                    <div class="square">
                        <div class="gallery-image content">
                            {% if cat.image %}
                                <a href="{{ cat.image.url }}" target="_blank">
                                    <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                </a>
                            {% elif cat.image_url %}
                                <a href="{{ cat.image.url_url }}" target="_blank">
                                    <img class="" src="{{ cat.image_url }}" alt="{{ cat.name }}">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ cat.name }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Sex -->
                <div class="ph-half">
                    <span class="bold">Sex:</span> {{ cat.sex }}
                </div>
                <div class="divider mb-half"></div>
                <!-- Age -->
                <div class="ph-half">
                    <span class="bold">Age:</span> {{ cat.age }}
                </div>
                <div class="divider mb-half"></div>
                <!-- Rescued -->
                <div class="ph-half">
                    <span class="bold">Rescued:</span> {{ cat.rescued }}
                </div>
                <div class="divider mb-half"></div>
                <!-- Description -->
                <div class="ph-half">
                    <span class="bold">Description:</span> {{ cat.description }}
                </div>
                <div class="divider mb-half"></div>
                <!-- Neutered/spayed -->
                <div class="ph-half">
                    <span class="bold">Neutered/Spayed:</span>
                    {% if cat.neutered %} Yes {% else %} No {% endif %}
                </div>
                <div class="divider mb-half"></div>
                <!-- Vaccinated -->
                <div class="ph-half">
                    <span class="bold">Vaccinated:</span>
                    {% if cat.vaccinated %} Yes {% else %}No {% endif %}
                </div>
                <div class="divider mb-half"></div>
                <!-- Adopted -->
                <div class="ph-half">
                    <span class="bold">Adopted:</span>
                    {% if cat.adopted %} Yes {% else %} No {% endif %}
                </div>
                <!-- More detailed Info for super users -->
                {% if request.user.is_superuser %}
                <div class="divider mb-half"></div>
                <!-- Status -->
                <div class="ph-half">
                    <span class="bold">Status:</span> {{ cat.status }}
                </div>
                <div class="divider mb-half"></div>
                <!-- Microchipped -->
                <div class="ph-half">
                    <span class="bold">Microchipped:</span>
                    {% if cat.microchipped %} Yes {% else %} No {% endif %}
                </div>
                <div class="divider mb-half"></div>
                <!-- Health checked -->
                <div class="ph-half">
                    <span class="bold">Health checked:</span> 
                    {% if cat.health_checked %} Yes {% else %} No {% endif %}
                </div>
                {% endif %}
            </div>
            <!-- Bio -->
            <div class="col s12 m8 xl7 bio">
                <!-- Name -->
                <h2 class="cursive mt0 mb-half">
                    {{ cat.name }}
                </h2>
                <div class="">
                    {{ cat.profile|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <script>
        function dismiss() {
            let notice = document.getElementById('notice');
            notice.classList.add('dismiss');
        }
    </script>
{% endblock %}