{% extends "base.html" %}
{% load static %}
{% block extra_title%}Cats{% endblock %}

<!-- Free Delivery Banner -->
{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="white-overlay p1">
        <!-- Resident Cats -->
        <div class="row w-100">
            <h5 class="cursive center">Our Resident Kitties</h5>
            <div id="carousel-large" class="carousel">
                {% for cat in cats %}
                    {% if cat.resident == True %}
                        <a class="carousel-item" href="{% url 'cat_detail' cat.id %}">
                        <div class="gallery-item">
                            <div class="square">
                                <div class="gallery-image content">
                                    <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                </div>
                            </div>
                            <div class="cat-overlay cat-overlay-fade">
                                <div class="gallery-text">
                                    <h5 class="white-text">{{ cat.name }}</h5>
                                    <p class="xxl-only light small-font">{{ cat.sex }}</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    {% endif %} 
                {% endfor %} 
              </div>
            <div class="slider">
                <div class="overlayed">
                </div>
                  <ul id="cat-slides" class="slides">
                    {% for cat in cats %}
                        {% if cat.resident == True %}
                            <li>
                                <a href="{% url 'cat_detail' cat.id %}">
                                    <div class="slide-overlay"></div>
                                        {% if cat.image %}
                                            <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                        {% elif cat.image_url %}
                                            <img class="" src="{{ cat.image_url }}" alt="{{ cat.name }}">
                                        {% else %}
                                            <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ cat.name }}">
                                        {% endif %}
                                    <div class="cat-caption ph-half left-align">
                                        <h4 class="white-text">{{ cat.name }}</h4>
                                        <h6 class="white-text">{{ cat.tagline }}</h6>
                                    </div>
                                </a>
                            </li>
                        {% endif %} 
                    {% endfor %}
                  </ul>
              </div>
        </div>
        <!-- Cats for adoption -->
        <div class="row w-100">
            <h5 class="cursive center">Kitties for Adoption</h5>
            {% for cat in cats %}
                {% if cat.adopted == False %}
                    <div class="col s12 m6 l4 xl3 mt1">
                        <a href="{% url 'cat_detail' cat.id %}">
                            <div class="gallery-item">
                                <div class="square">
                                    <div class="gallery-image content">
                                        <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                    </div>
                                </div>
                                <div class="cat-overlay cat-overlay-fade">
                                    <div class="gallery-text">
                                        <h5 class="white-text">{{ cat.name }}</h5>
                                        <p class="xxl-only light small-font">{{ cat.sex }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %} 
            {% endfor %} 
        </div>
        <!-- Adopted Cats -->
        <div class="row w-100 mt2">
            <h5 class="cursive center">Kitties who have found their new home</h5>
            {% for cat in cats %}
                {% if cat.adopted == True %}
                    <div class="col s6 m3 l3 xl2 cat-box">
                            <div class="gallery-item">
                                <div class="square">
                                    <div class="gallery-image content">
                                        {% if cat.image %}
                                            <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                        {% elif cat.image_url %}
                                            <img class="" src="{{ cat.image_url }}" alt="{{ cat.name }}">
                                        {% else %}
                                            <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ cat.name }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="cat-overlay cat-overlay-fade">
                                    <div class="gallery-text">
                                        <h6 class="white-text">{{ cat.name }}</h6>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endif %} 
            {% endfor %}
            
        </div>
    </div>
</div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this)
            var currentUrl = new URL(window.location);
    
            var selectedVal = selector.val();
            if(selectedVal != 'reset'){
                var sort = selectedVal.split('_')[0];
                var direction = selectedVal.split('_')[1];
    
                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);
    
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');
    
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}