{% extends "base.html" %}
{% load static %}
{% block extra_title%}Cats{% endblock %}

{% block content %}

<div class="container">
    <div class="white-overlay p1">

        
        <!-- Resident Cats -->
        <div class="row w-100">
            <h5 class="cursive center">Our Resident Kitties</h5>
            <div class="slider">
                <div class="overlayed">
                </div>
                  <ul id="cat-slides" class="slides">
                    {% for cat in cats %}
                        {% if cat.resident == True %}
                            <li>
                                <a class="link-cover" href="{% url 'cat_detail' cat.id %}">
                                    <div class="slide-overlay"></div>
                                        {% if cat.image %}
                                            <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                        {% elif cat.image_url %}
                                            <img class="" src="{{ cat.image_url }}" alt="{{ cat.name }}">
                                        {% else %}
                                            <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ cat.name }}">
                                        {% endif %}
                                    <div class="cat-caption ph-half left-align">
                                        <h4 class="white-title m0">{{ cat.name }}</h4>
                                        <h6 class="white-title m0">{{ cat.tagline }}</h6>
                                    </div>
                                </a>
                            </li>
                        {% endif %} 
                    {% endfor %}
                  </ul>
              </div>
        </div>
        <!-- Cats for adoption -->
        <div class="container center row">
            <h5 class="larger-header">Kitties for Adoption</h5>
            <div class="larger container">
                <p class="mb1">A kitty cat makes a wonderful addition to any household and we are always delighted to talk with people who are interested in offering a kitty a loving home. 
                </p>
                <p class="mb1">If you are looking to adopt a feline friend, you can learn more <a class="bold" title="Adopt" target="_blank" rel="noopener" href="http://www.phibsborocatrescue.ie/adopting-a-cat/">here</a>.
                </p>
            </div>
            
            {% for cat in cats %}
                {% if cat.adopted == False %}
                    <div class="col s12 m6 l4 xl3 mt1">
                        <a href="{% url 'cat_detail' cat.id %}">
                            <div class="gallery-item">
                                <div class="square">
                                    <div class="gallery-image content">
                                        <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                    </div>
                                </div>
                                <div class="cat-overlay cat-overlay-fade">
                                    <div class="gallery-text">
                                        <h5 class="white-title cursive">{{ cat.name }}</h5>
                                        <p class="xxl-only light small-font">{{ cat.sex }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %} 
            {% endfor %} 
        </div>
        <!-- Adopted Cats -->
        <div class="container center row mt2">
            <h5 class="cursive larger-header">Kitties who have found their new home</h5>
            <div class="container larger">
                <p class="mb1">Since forming  in August 2014, we have TNR’d over 1,500 feral cats and we have rescued, tamed and found loving forever homes for over 2,000 cats and kittens. We have provided veterinary treatment for many more and we have rehomed a number of domestic cats who have been surrendered to us by their humans for a variety of reasons. 
                </p>
                <p class="mb1">You can learn more about what we do <a class="bold" title="About" rel="noopener" target="_blank" href="http://www.phibsborocatrescue.ie/sample-page/">here</a>.</p>
            </div>
            
            {% for cat in cats %}
                {% if cat.adopted == True %}
                    <div class="col s6 m3 l3 xl2 cat-box">
                            <div class="gallery-item">
                                <div class="square">
                                    <div class="gallery-image content">
                                        {% if cat.image %}
                                            <img class="" src="{{ cat.image.url }}" alt="{{ cat.name }}">
                                        {% elif cat.image_url %}
                                            <img class="" src="{{ cat.image_url }}" alt="{{ cat.name }}">
                                        {% else %}
                                            <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ cat.name }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="cat-overlay cat-overlay-fade adopted">
                                    <div class="gallery-text">
                                        <h6 class="white-title cursive">{{ cat.name }}</h6>
                                    </div>
                                </div>
                            </div>
                    </div>
                {% endif %} 
            {% endfor %}
            
        </div>
    </div>
</div>
    
{% endblock %}