{% extends "account/base.html" %}
{% block extra_title%}Logout{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<h4>{% trans "Sign Out" %}</h4>

<p class="mv-half">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn"><a href="{% url 'home' %}">Home</a></button>
  
  <button class="btn" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
