{% extends "base.html" %}
{% load static %}
{% block extra_title%}Contact Us{% endblock %}

<!-- Free Delivery Banner -->
{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="white-overlay p1">
        <h3 class="cursive">Contact</h3>
        <div class="row">
            <div class="col s12 m6 p0">
                {% for address in addresses %}
                    <div>
                        <p><span class="bold">{{ address.directory }}: </span>{{ address.email }}</p>
                    </div>
                    <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
    
{% endblock %}