  
{% extends "base.html" %}
{% load static %}
{% block extra_title%} {{ add }} {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h2 class="cursive">Product Management</h2>
                <h5 class="">Add a Product</h5>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <!-- without the encoding type attribute the image
                won't be uploaded properly -->
                <form method="POST" action="{% url 'add_product' %}" class="mb2 add-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div class="mt1">
                        <button class="btn"><a href="{% url 'products' %}">Cancel</a></button>
                        <button class="btn" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}