  
{% extends "base.html" %}
{% load static %}
{% block extra_title%} {{ edit }} {% endblock %}
{% block extra_meta %}<meta name="Description" content="edit products">{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <h2 class="cursive">Product Management</h2>
                <h5 class="">Edit a Product</h5>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <!-- without the encoding type attribute the image
                won't be uploaded properly -->
                <form method="POST" action="{% url 'edit_product' product.id %}" class="mb2 add-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <div class="mt2">
                        <button class="btn"><a href="{% url 'products' %}">Cancel</a></button>
                        <button class="btn" type="submit">Edit Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- from CI module @ https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/f5880efee43b3b9ea1276a09ca972f4588001c59/products/templates/products/add_product.html -->
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}