{% extends "base.html" %}
{% load static %}
{% block extra_title%}Products{% endblock %}
{% block extra_meta %}<meta name="Description" content="all products">{% endblock %}

{% block content %}
    <div class="white-overlay">
        <div class="container all-products">
            <div class="row flex">
                <!-- Product Categories -->
                <div class="input-field col s12 m6 l4 xl3 ph-half">
                    <!-- Dropdown Trigger -->
                    <a id="products" class='dropdown-trigger flex bold larger ' href='#' data-target='dropdown1'>Products <i class="medium material-icons ml1">expand_more</i></a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="{% url 'products' %}">All</a></li>
                        {% for category in cat %}
                        <li>
                            <a href="{% url 'products' %}?category={{ category.name }}">{{ category.friendly_name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Product Sort -->
                <div class="input-field col s12 m6 l4 xl3 ph-half">
                    <select id="sort-selector">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort By...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>

                <!-- Search -->
                <div class="col s12 l4 xl6 flex-space ph-half">
                    <form method="GET" action="{% url 'products' %}" class="w-100">
                        <div class="input-field flex">
                            <input class="validate" type="text" id="q" name="q" required>
                            <label class="flex-space" for="q">Search</label>
                            <button id="search-button" tabindex="0" aria-label="search" type="submit" class="transparent no-border focus-outline">
                                <i class="fas fa-search left"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col">
                <p>
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                    {% endif %}
                    {{products|length}} Products
                    {% if search_term %} 
                        found for <strong>"{{ search_term }}"</strong>
                    {% endif %}
                </p>
            </div>

            <section class="row">
                {% for product in products %}
                    <div class="col s12 m6 l4 xl3 p1">
                        <div class="gallery-item">
                            <!--Image-->
                            <div class="square">
                                <div class="gallery-image content">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% elif product.image_url %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="" src="{{ product.image_url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.id %}">
                                            <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <!--Description-->
                            <div class="name-desc">
                                <div class="mv-half">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <div class="bold small product-name">
                                            {{ product.name }}
                                        </div>
                                        <div class="small product-description dark">
                                            {{ product.description }}
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--Price-->
                            <p class="mv-half">
                                €{{ product.price }}
                            </p>
                            <!--Category and Rating-->
                            <div class="flex-space mb1">
                                <!--Category-->    
                                {% if product.category %}
                                    <p class="small">
                                        <a class="small" href="{% url 'products' %}?category={{ product.category.name}}">
                                            <i class="fas fa-tag mr-half"></i> {{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                {% endif %}
                                <!--Rating-->
                                <p class="small">
                                {% if product.rating %}
                                    <small class="rating">
                                        <i class="fas fa-star right-align"></i> 
                                        {{ product.rating }} / 5
                                    </small>
                                {% else %}
                                    <small>
                                        No rating
                                    </small>
                                {% endif %}
                                </p>
                            </div>
                            <!--Edit and Delete-->
                            {% if request.user.is_superuser %}
                                <small>
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                    <a href="{% url 'delete_product' product.id %}">Delete</a>
                                </small>
                            {% endif %}                           
                        </div>  
                    </div>
                    <!--Dividers-->
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col s12 hide-on-med-and-up">
                            <div class="divider center m-auto"></div>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="row hide-on-small-only show-on-medium hide-on-med-and-up">
                        <div class="col s12 w-100">
                            <div class="divider center m-auto"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                    <div class="row hide-on-med-and-down show-on-large hide-on-extra-large-only">
                        <div class="col s12 w-100">
                            <div class="divider center m-auto"></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                    <div class="row hide-on-large-and-down show-on-extra-large">
                        <div class="col s12 w-100">
                            <div class="divider center m-auto"></div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %} 
            </section>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super}}
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this)
            var currentUrl = new URL(window.location);
    
            var selectedVal = selector.val();
            if(selectedVal != 'reset'){
                var sort = selectedVal.split('_')[0];
                var direction = selectedVal.split('_')[1];
    
                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);
    
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');
    
                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}